.wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 540px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dark-mode {
  background-color: #25273d;
}

.wrapper button {
  border: none;
  background-color: transparent;
}

.length-light,
.clear-button-light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: -0.19px;
  color: #9495a5;
}

.length-dark,
.clear-button-dark {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: -0.19px;
  color: #5b5e7e;
}

.clear-button-light,
.clear-button-dark {
  cursor: pointer;
}

.clear-button-light:hover {
  transition: 500ms color;
  color: #601003;
}

.clear-button-dark:hover {
  transition: 500ms color;
  color: #e3e4f1;
}

.main-controler button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #9495a5;
  letter-spacing: -0.19px;
  cursor: pointer;
  margin-left: 19px;
}

.button-light {
  cursor: pointer;
}

.button-dark {
  cursor: pointer;
}

.main-controler .button-light:hover {
  transition: 500ms color;
  color: black;
  cursor: pointer;
}

.main-controler .button-dark:hover {
  transition: 500ms color;
  color: #e3e4f1;
  cursor: pointer;
}

.active {
  color: #3a7cfd !important;
}
