.list {
  list-style: none;
}

li {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  height: 4rem;
  width: 33.75rem;
  border-bottom: 1px solid;
}

li:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.todo-light {
  color: #494c6b;
  border-color: #e3e4f1;
  background-color: #fff;
}

.todo-dark {
  color: #c8cbe7;
  border-color: #393a4b;
  background-color: #25273d;
}

.empty {
  line-height: 64px;
  text-align: center;
}

.empty-light {
  border-bottom: 1px solid #e3e4f1;
  color: inherit;
}

.empty-dark {
  border-bottom: 1px solid #393a4b;
  background-color: #25273d;
  color: #c8cbe7;
}

.todo-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo {
  width: 80%;
  overflow: scroll;
}

.completed-light {
  color: #d1d2da;
  text-decoration: line-through;
}

.completed-dark {
  color: #4d5067;
  text-decoration: line-through;
}

.cross-button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cross-button-dark {
  fill: #5b5e7e;
}

.todo-list:hover .cross-button {
  display: block;
}

.button-style {
  background-image: linear-gradient(120deg, #55ddff, #c058f3),
    url("../../resources/images/icon-check.svg");
  background-repeat: no-repeat; /* Separate repeat values with commas */
  background-position: center, center; /* Separate position values with commas */
  background-size: cover, auto;
}

/*
button styles
*/

.tick-button-light,
.tick-button-dark {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  margin: 20px 24px;
  cursor: pointer;
  background: none;
}

.tick-button-dark {
  border-color: #393a4b;
}

.tick-button-light:hover {
  border-color: black;
  transition: border-color 800ms;
}

.tick-button-dark:hover {
  border-color: white;
  transition: border-color 800ms;
}

.tick-completed {
  background-image: linear-gradient(120deg, #55ddff, #c058f3);
}
