.container {
  width: 72px;
  height: inherit;
}

.button {
  height: 1.5rem;
  width: 1.5rem;

  border-radius: 50%;
  margin: 20px 24px;
  background-color: inherit;
  cursor: pointer;
}

.button-light {
  border: 1px solid #e3e4f1;
}

.button-dark {
  border: 1px solid #393a4b;
}

.button-light:hover {
  border-color: black;
  transition: border-color 800ms;
}

.button-dark:hover {
  border-color: #fff;
  transition: border-color 800ms;
}
